section {
  position: relative;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: transparent;
  font-weight: bold;
}

.navbar-brand {
  font-size: 100px;
}

.nav-tabs {
  color: #000;
}

h1 {
  color: #ffffff;
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 5vw;
}

h2 {
  color: #000000;
  font-family: "sans-serif";
  font-size: 4vw;
}

h4 {
  margin-bottom: 100px;
}

h5 {
  font-size: 16px;
  font-family: "Open Sans";
  color: #e7e7e7;
}

p {
  line-height: 1.5em;
  font-size: 18px;
  font-family: "Open Sans";
  color: #313131;
}

img {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(40%);
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.hero p {
  color: #cfcfcf;
}

.hero-content h1 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 44px;
  font-weight: bolder;
  line-height: 44px;
}

.hero h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  line-height: 35px;
}

.hero-content p {
  color: #e6e3e3;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 50ch;
}

.about {
  top: 0;
  position: relative;
  background-color: #ffffff;
}

.about-content {
  position: relative;
  background-color: #ffffff;
  margin-top: 4em;
  padding: 5%;
  margin-right: 5%;
}

.about .container-fluid {
  margin-top: -20%;
  margin-left: 4%;
  margin-right: 20%;
}

.about h5 {
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
  max-width: 50ch;
}

.about-content label {
  color: #555555;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 50ch;
}

.why {
  top: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.why-content {
  position: relative;
  background-color: #ffffff;
  margin-top: 5%;
  left: 4%;
}

.why-content img {
  border: 2px;
  border-style: solid;
  border-radius: 32px;
}

.why-content h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 36px;
  margin-top: 15%;
  font-weight: bolder;
  line-height: 44px;
}

.why-content p {
  color: #555555;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 50ch;
}

.benefit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(40%);
}

.benefit {
  margin-top: 50px;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.benefit-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit-content .container-fluid {
  background-color: #ffffff;
  position: relative;
  border-radius: 1em;
}

.benefit-content img {
  border: 2px;
  border-style: solid;
  border-radius: 2em;
}

.benefit-content h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 36px;
  margin-top: 15%;
  font-weight: bolder;
  line-height: 44px;
}

.benefit-content p {
  color: #e6e3e3;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 50ch;
}

.recommendation {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  top: 0;
  position: relative;
  background-color: #ffffff;
  width: 90%;
}

.recommendation-content {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.recommendation-content h2 {
  color: #000000;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bolder;
  line-height: 44px;
}

.recommendation-content h4 {
  color: #000000;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
}

.recommendation-content li {
  color: #555555;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 50ch;
}

.testimonial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(40%);
}
.testimonial {
  background-color: rgb(233, 233, 233);
  margin-top: 10%;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.testimonial-content {
  position: relative;
  padding: 2em;
}

.testimonial-content h4 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
  line-height: 28px;
}

.testimonial-content p {
  color: #e6e3e3;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 50ch;
}

.footer {
  position: relative;
  width: 100%;
  height: 20%;
  background-color: #000000;
}

.footer-content {
  position: relative;
  margin: 5%;
}

.footer-content h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
}

.footer-content h4 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 29px;
}

.footer-content p {
  color: #e6e3e3;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 18px;
  max-width: 55ch;
}

.footer-content a {
  color: #e6e3e3;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

text {
  font-size: 16px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  line-height: 1;
}

.page-item a {
  color: #000000;
}

@media screen and (max-height: 450px) {
  .hero-content {
    margin-top: 2%;
  }
}

@media screen and (max-height: 310px) {
  .hero-content {
    display: none;
  }
}
